.bd-example {
    --bd-example-padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
}



.carousel-item{
    height:32rem;
    background:#000;
    color:white;
    position:relative;
    background-position:center;
    background-size:cover;
}

.container{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding-bottom: 50px;
}

.card-image-top{
    object-fit:cover;
}

#thumbs{
    margin:auto;
    position:static;
    display:inline-flex;
}

.overlay-image{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    background-position: center;
    background-size:cover;
    opacity:0.45;
}

body{
    background-color: grey;
}

#slidey-images{
    margin-bottom: 20px;
}

.headlines{
    text-align: center;
    background-position: center;
    background-size: cover;
    position: absolute;
}

span#navbar-moon-name{
    font-family: 'Audiowide', cursive;
}

.nav-link{
    font-family: 'Silkscreen', cursive;
}


.twitter-timeline{
    display: inline-flex;
    text-align: center;
    background-position: center;
    background-size: cover;
    float:right;
}

.hidden{
    display:none;
}

/* 
div.carousel-caption p{
    word-break: normal;
    white-space: normal;
} */

.space-nav-brand{
    padding-left:2rem;
}

.space-nav-items{
    padding: 0.2rem 1.5rem 0.2rem 1.5rem;
}

/* div#spaceCarouselHeadlines a{
    color:white;
}

div#spaceCarouselHeadlines a:hover{
    color:black;
}

div#spaceCarouselHeadlines .desc-div{
    border-radius: 25px;
    background-color: rgba(0, 0, 0, .5);
    padding: 5px 10px 5px 10px;
} */